.step {
  padding: 4px;
  border: 1px solid #ddd;
}

.step .step-text {
  margin-top: 0;
  margin-bottom: 0;
}

.crawl-book-form {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.crawl-book-input {
  width: 70%;
  margin-right: 1rem;
  border-radius: 2rem;
}

.crawl-book-button {
  border-radius: 50%;
}
